<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b8dd215804.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="./css/login.css" rel="stylesheet">
    <title>Iniciar sesion</title>
</head>
<body>
    <header>
        <img src="../img/logocolegio-removebg.png" alt="logo de letCode" class="img">
            <h1 class="title">Colegio Provincial Dr Ernesto guevara</h2>
                <i class="fa-sharp fa-solid fa-magnifying-glass fa-lg"></i>

            <hr>
            <nav>
                <a href="../index.html">Home</a>
                <a href="">Menu</a>
                <a href="./noticias.html">Noticias</a>
                <a href="./login.html">Iniciar Sesion</a>
                <a href="./registro.html">Registro</a>
            </nav>
    </header>

    <main>
        <div class="login">
            <h3>Inicio de sesion</h3>
            <form method="post" action="../index.html">
                <label>Nombre de usuario o dni</label>
                <input type="text">
    
                <label>Comtraseña</label>
                <input type="password">

                <p>¿Se olvido su contraseña? <a href="">Recuperar contraseña</a></p>
                <input type="submit" value="Ingresar">
            </form>
        </div>

        <div class="registro">
            <h3>Registrarse</h3>
            <form method="post" action="../index.html">
                <label>Nombre completo del alumno</label>
                <input type="text">
    
                <label>Nombre de usuario</label>
                <input type="text">
    
                <label>Comtraseña</label>
                <input type="password">
    
                <label>Correo</label>
                <input type="email">
    
                <label>Modalidad</label>
                <input type="text">
    
                <label>turno</label>
                <input type="email">
    
                <label>Año</label>
                <input type="text">

                <label>Division</label>
                <input type="text">
    
                <label>DNI</label>
                <input type="text">
    
                <label>Direccion</label>
                <input type="text">

                <input type="reset" value="Borrar">
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </main>

    <footer class="footer">
        <section>
            <nav>
                <ul>
                    Navegacion
                    <li><a href="">Home</a></li>
                    <li><a href="">Menu</a></li>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Registrarse</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <p>Cursos</p>
            <ul>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
            </ul>
        </section>

        <section>
            <p>Contacto</p>
            <ul>
                <li><a href="">Acerca de</a></li>
                <li>tel</li>
                <li>Lugar</li>
                <li>correo</li>
                <li>Horarios</li>
            </ul>
        </section>
        <div>
        <img src="../img/logosinfondo.png" alt="logo de letCode" class="logolet">
        <p>@Derechos reservados 2023</p>
        </div>
    </footer>
</body>
</html>